extends layout

block content

  .metrics
    .backend_response_time
      h2.name Response Time
      h1.value
    .frontend_response_time
      h2.name Page Load Time
      h1.value
  .hits.all
  .hits.microryza
  .hits.experiment
  .librato-metrics(data-instrument_id=14514669)

  script(src='/javascripts/main.js')
