doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
    script(src='//d3js.org/d3.v3.min.js')
    script(src='https://sdk.librato.com/librato-sdk-v0.3.0-min.js',
      data-librato_email=process.env.LIBRATO_EMAIL, data-librato_token=process.env.LIBRATO_TOKEN)
    script(src='/javascripts/hits_square.js')
  body
    block content
