body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #eee;
}
.hits.all {
  float: left;
}
.hits.microryza {
  position: absolute;
  left: 575px;
}
.hits.experiment {
  position: absolute;
  left: 575px;
  top: 315px;
}
.hits rect.status_2 {
  fill: #2ecc71;
}
.hits rect.status_3 {
  fill: #3498db;
}
.hits rect.status_3.status_304 {
  fill: #2e9671;
}
.hits rect.status_4 {
  fill: #95a5a6;
}
.hits rect.status_4.status_403 {
  fill: #9e75bc;
}
.hits rect.status_4.status_429 {
  fill: #9e75bc;
}
.hits rect.status_5 {
  fill: #e74c3c;
}
.hits #tooltip {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}
.metrics {
  float: right;
}
.librato-metrics {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
}
