body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
rect.status_2 {
  fill: #2ecc71;
}
rect.status_3 {
  fill: #3498db;
}
rect.status_4 {
  fill: #95a5a6;
}
rect.status_5 {
  fill: #e74c3c;
}
